//colors
$color_athens_gray_approx: #eff0f2;
$color_concord_approx: #7b7b7b;
$color_milano_red_approx: #b71517;
$color_mountain_mist_approx: #999;
$color_tapa_approx: #757575;
$color_ship_gray_approx: #3b3b3f;
$color_celeste_approx: #cecfd1;
$color_oslo_gray_approx: #8d8d91;
$color_jumbo_approx: #7c7c80;
$color_iron_approx: #d3d3d7;
$color_scarlet_approx: #f30;
$color_fuscous_gray_approx: #4f4f4f;
$white: #fff;
$color_mischka_approx: #d0d4d9;
$color_mirage_approx: #1a1a2f;
$color_monza_approx: #e31518;
$color_ironside_gray_approx: #686868;
$color_bombay_approx: #b1b1b8;
$color_star_dust_approx: #999a9b;
$color_emperor_approx: #4d4d4d;
$color_suva_gray_approx: #87888a;
$color_dove_gray_approx: #717171;
$color_alto_approx: #d8dbdf;
$color_nobel_approx: #b2b2b2;
$color_silver_chalice_approx: #ababab;
$color_masala_approx: #3e3e3e;
$color_gallery_approx: #ededee;
$color_gunsmoke_approx: #818185;
$color_mercury_approx: #e4e4e5;
$color_pale_sky_approx: #72767b;
$alto: #dbdbdb;

//fonts
$font_0: 돋움;
$font_1: Dotum;
$font_2: AppleGothic;
$font_3: sans-serif;
$font_4: Arial;
$font_5: Verdana;
$font_6: dotum;
$font_7: tahoma;
$font_8: verdana;
$font_9: dotum !important;

//urls
$url_0: url(images/bg.gif);
$url_1: url(images/ico_prev_no.gif);
$url_2: url(images/ico_next_no.gif);
$url_3: url(images/iconAdmin.gif);
$url_4: url(images/iconSecret.gif);
$url_5: url(images/iconMore.gif);
$url_6: url(images/iconLess.gif);
$url_7: url(images/title.png);
$url_8: url(images/search.png);
$url_9: url(images/tab_home.gif);
$url_10: url(images/tab_tag.gif);
$url_11: url(images/tab_media.gif);
$url_12: url(images/tab_location.gif);
$url_13: url(images/tab_key.gif);
$url_14: url(images/tab_guestbook.gif);
$url_15: url(images/tab_admin.gif);
$url_16: url(images/tab_write.gif);
$url_17: url(images/iconIndentArrow_local.gif);
$url_18: url(images/iconIndentArrow_localinfo.gif);
$url_19: url(images/bul.gif);
$url_20: url(images/bul2.gif);
$url_21: url(images/btn_confirm2.gif);
$url_22: url(images/line_dot.gif);
$url_23: url(images/txt_trackback.gif);
$url_24: url(images/iconDelete.gif);
$url_25: url(images/txt_name.gif);
$url_26: url(images/txt_password.gif);
$url_27: url(images/txt_homepage.gif);
$url_28: url(images/txt_secret.gif);
$url_29: url(images/btn_confirm.gif);
$url_30: url(images/iconModify.gif);
$url_31: url(images/iconWrite.gif);
$url_32: url(images/iconAddress.gif);
$url_33: url(images/iconIndentArrow_re.gif);
$url_34: url(images/ico_prev.gif);
$url_35: url(images/ico_next.gif);
$url_36: url(images/txt_total.gif);
$url_37: url(images/txt_today.gif);
$url_38: url(images/txt_yesterday.gif);
$url_39: url(images/rss.gif);
$url_40: url(images/stitle_notice.gif);
$url_41: url(images/stitle_tag.gif);
$url_42: url(images/stitle_recentpost.gif);
$url_43: url(images/stitle_recentcomment.gif);
$url_44: url(images/stitle_recenttrackback.gif);
$url_45: url(images/stitle_archive.gif);
$url_46: url(images/stitle_mylink.gif);
$url_47: url(images/tistory.png);
$url_48: url(images/btn_prevmonth.gif);
$url_49: url(images/btn_nextmonth.gif);
$url_50: url(images/iconBlockquote.gif);

//@extend-elements
//original selectors
//.moreless_fold, .moreless_top
%extend_1 {
	padding-left: 42px;
	color: $color_concord_approx;
	font: 11px $font_6, $font_3;
	text-decoration: underline;
}

//original selectors
//#sidebar .sidebar-one, #sidebar .sidebar-two, #sidebar .sidebar-three, #sidebar .sidebar-four, #sidebar .sidebar-five
%extend_2 {
	float: left;
	width: 190px;
	overflow: hidden;
}

//original selectors
//.actionTrail, .actionTrail a, .actionTrail a span
%extend_3 {
	color: $color_suva_gray_approx;
	font: 10px $font_8, $font_3;
	letter-spacing: 0;
}

//original selectors
//input.name, input.password, input.homepage
%extend_4 {
	height: 15px;
	padding-top: 2px;
	border-bottom: 1px solid $color_concord_approx;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 6px;
	color: $color_concord_approx;
	font: 11px/11px $font_6;
}

//original selectors
//#guestList .date, .commentList .date
%extend_5 {
	float: right;
	color: $color_nobel_approx;
	font: 9px/16px $font_8, $font_3;
}

//original selectors
//#guestList ol li ul li, .commentList ol li ul li
%extend_6 {
	margin-bottom: 0;
	padding-left: 40px;
	background: $url_33 no-repeat 1px 8px;
}

//original selectors
//#guestList ol li p, .commentList ol li p
%extend_7 {
	margin-bottom: 7px;
	color: $color_suva_gray_approx;
	font: 11px/19px $font_6, $font_3;
}

//original selectors
//#sidebar .wrapper ul li, #sidebar .wrapper ul li a
%extend_8 {
	color: $color_tapa_approx;
	font-size: 11px;
	line-height: 19px;
	font-family: $font_9;
}

//original selectors
//.module_widget h3, .module_plugin h3
%extend_9 {
	margin-top: 2px;
	margin-bottom: 6px;
	color: $color_tapa_approx;
	font: bold 11px $font_6;
}

//original selectors
//#footer #copyright, #footer #copyright a
%extend_10 {
	color: $color_pale_sky_approx;
	font: 9px/12px $font_8;
	text-transform: uppercase;
}


@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	background: $color_athens_gray_approx $url_0 0 3px;
}
div {
	margin: 0;
	padding: 0;
}
dl {
	margin: 0;
	padding: 0;
	list-style: none;
}
dt {
	margin: 0;
	padding: 0;
}
dd {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 1.4em;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	&.stitle {
		display: block;
		width: 190px;
		height: 19px;
		margin-bottom: 1px;
		background-repeat: no-repeat;
		background-position: 0 7px;
		text-indent: -1000px;
		overflow: hidden;
	}
}
h4 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
h5 {
	margin: 0;
	padding: 0;
}
h6 {
	margin: 0;
	padding: 0;
}
pre {
	margin: 0;
	padding: 0;
}
code {
	margin: 0;
	padding: 0;
}
form {
	margin: 0;
	padding: 0;
}
fieldset {
	margin: 0;
	padding: 0;
}
legend {
	margin: 0;
	padding: 0;
}
textarea {
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
	width: 988px;
	padding: 5px;
	height: 84px;
	border: 1px solid $color_concord_approx;
	background-color: $color_athens_gray_approx;
	color: $color_concord_approx;
}
blockquote {
	margin: 0;
	padding: 0;
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
th {
	margin: 0;
	padding: 0;
}
td {
	margin: 0;
	padding: 0;
}
input {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	&.name {
		width: 127px;
		padding-left: 36px;
		background-image: $url_25;
		@extend %extend_4;
	}
	&.password {
		width: 131px;
		margin-left: 6px;
		padding-left: 64px;
		background-image: $url_26;
		@extend %extend_4;
	}
	&.homepage {
		width: 555px;
		margin-left: 6px;
		padding-left: 65px;
		background-image: $url_27;
		text-transform: uppercase;
		@extend %extend_4;
	}
}
select {
	margin: 0;
	padding: 0;
	border: 1px solid $color_concord_approx;
	background-color: $color_athens_gray_approx;
}
button {
	margin: 0;
	padding: 0;
}
img {
	border: 0 none;
	border: 0;
}
menu {
	list-style: none;
}
q {
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
* {
	font-size: 11px;
	line-height: 19px;
	font-family: $font_0, $font_1, $font_2, $font_3;
}
a {
	color: $color_concord_approx;
	text-decoration: none;
	&:hover {
		color: $color_concord_approx;
		text-decoration: underline;
	}
	&.cal_click {
		&:link {
			color: $color_ship_gray_approx;
			font: 9px/17px $font_5, $font_3;
		}
		&:visited {
			color: $color_ship_gray_approx;
			font: 9px/17px $font_5, $font_3;
		}
		&:hover {
		}
	}
}
.selected {
	color: $color_milano_red_approx;
}
.no-more-prev {
	padding-left: 6px;
	background: $url_1 left 2px no-repeat !important;
	color: $color_mountain_mist_approx !important;
}
.no-more-next {
	padding-right: 6px;
	background: $url_2 right 2px no-repeat !important;
	color: $color_mountain_mist_approx !important;
}
.ib {
	cursor: pointer;
}
.branch3 {
	cursor: pointer;
}
.c_cnt {
	color: $color_tapa_approx;
}
.cal_month {
	border-left: 1px solid $color_athens_gray_approx;
	border-right: 1px solid $color_athens_gray_approx;
	background-color: $color_ship_gray_approx;
	line-height: 13px;
}
.cal_week1 {
	font: 0.95em $font_1, $font_4, $font_3;
	height: 18px;
	font-weight: normal;
}
.cal_week2 {
	font: 0.95em $font_1, $font_4, $font_3;
}
.cal_week {
}
.cal_current_week {
}
.cal_day {
	background-color: $color_celeste_approx;
	color: $color_oslo_gray_approx;
	font: 9px/17px $font_5, $font_3;
	text-align: center;
}
.cal_day1 {
}
.cal_day2 {
}
.cal_day3 {
}
.cal_day4 {
	background-color: $color_jumbo_approx;
	color: $color_iron_approx;
}
.rp_general {
}
.rp_admin {
	background: $url_3 no-repeat;
	padding-left: 20px;
}
.rp_secret {
	color: $color_scarlet_approx;
}
.guest_general {
}
.guest_admin {
	background: $url_3 no-repeat;
	padding-left: 20px;
}
.hiddenComment {
	background: $url_4 no-repeat;
	padding-left: 20px;
	font-weight: normal;
}
.cap1 {
	color: $color_mountain_mist_approx;
	text-align: center;
	padding: 4px 0;
	margin: 0;
}
.left {
}
.center {
}
.right {
}
.dual {
	margin-bottom: 5px;
}
.triple {
	margin-bottom: 5px;
}
.moreless_fold {
	@extend %extend_1;
	background: $url_5 no-repeat left 2px;
}
.moreless_top {
	@extend %extend_1;
	background: $url_6 no-repeat left 2px;
}
.moreless_content {
	margin: 11px 0 4px 0;
}
.moreless_bottom {
	padding-right: 47px;
	background: $url_6 no-repeat right 2px;
	color: $color_fuscous_gray_approx;
	font: 11px $font_6, $font_3;
	text-align: right;
	text-decoration: underline;
}
.key1 {
	cursor: pointer;
	border-bottom: 1px dotted $color_celeste_approx;
}
hr {
	display: none;
}
#taglog {
	padding: 57px 0 37px;
	ul {
		text-align: justify;
		margin: 0;
		li {
			vertical-align: middle;
		}
	}
	li {
		display: inline;
		.cloud1 {
			color: $color_milano_red_approx;
			font: 16px/19px $font_6, $font_3;
		}
		.cloud2 {
			color: $color_ironside_gray_approx;
			font: 16px/19px $font_6, $font_3;
		}
		.cloud3 {
			background-color: $color_bombay_approx;
			color: $color_athens_gray_approx;
			font: bold 12px/19px $font_6, $font_3;
		}
		.cloud4 {
			color: $color_ironside_gray_approx;
			font: 12px/19px $font_6, $font_3;
		}
		.cloud5 {
			color: $color_star_dust_approx;
			font: 12px/19px $font_6, $font_3;
		}
	}
	h3 {
		display: none;
	}
}
#tagbox {
	ul {
		text-align: justify;
	}
	li {
		display: inline;
		color: $color_tapa_approx;
		font: 11px/19px $font_6, $font_3;
		a {
			color: $color_tapa_approx;
			font: 11px/19px $font_6, $font_3;
		}
		.cloud1 {
			background-color: $color_gunsmoke_approx;
			color: $color_mercury_approx !important;
		}
		.cloud2 {
			background-color: $color_gunsmoke_approx;
			color: $color_mercury_approx !important;
		}
		.cloud3 {
			background-color: $color_gunsmoke_approx;
			color: $color_mercury_approx !important;
		}
	}
	h3 {
		background-image: $url_41;
	}
}
#blogMenu {
	width: 100%;
	border-top: 2px solid $white;
	border-bottom: 2px solid $white;
	background-color: $color_mischka_approx;
	text-align: center;
	height: 47px;
	margin: 0 auto;
	li {
		display: inline;
		list-style-type: none;
	}
	.wrapper {
		width: 1000px;
		margin: 0 auto;
		text-align: center;
	}
	ul li a {
		display: block;
		float: left;
		width: 143px;
		height: 47px;
		background-repeat: no-repeat;
		text-indent: -1000px;
		overflow: hidden;
	}
	.tab_home a {
		background-image: $url_9;
	}
	.tab_tag a {
		background-image: $url_10;
	}
	.tab_media a {
		background-image: $url_11;
	}
	.tab_location a {
		background-image: $url_12;
	}
	.tab_key a {
		background-image: $url_13;
	}
	.tab_guestbook a {
		background-image: $url_14;
	}
	.tab_admin a {
		background-image: $url_15;
	}
	.tab_write a {
		width: 142px !important;
		background-image: $url_16;
	}
}
#sidebar {
	width: 100%;
	background-color: transparent;
	text-align: center;
	li {
		list-style-type: none;
	}
	.wrapper {
		width: 1000px;
		margin: 0 auto;
		padding: 39px 0 0;
		text-align: left;
		#tagbox ul li {
			padding-left: 0;
		}
		ul li {
			@extend %extend_8;
			a {
				@extend %extend_8;
			}
		}
	}
	.sidebar-one {
		@extend %extend_2;
	}
	.sidebar-two {
		@extend %extend_2;
		margin-left: 29px;
	}
	.sidebar-three {
		@extend %extend_2;
		margin-left: 29px;
	}
	.sidebar-four {
		@extend %extend_2;
		margin-left: 28px;
	}
	.sidebar-five {
		@extend %extend_2;
		width: 125px;
		margin: 0 -1px 0 28px;
		overflow: hidden;
	}
	.module_widget {
		margin-bottom: 18px;
	}
	ul {
		margin-bottom: 18px;
	}
	.wrpper ul li {
		padding-left: 6px;
	}
}
.listEntry {
	li {
		list-style-type: none;
		padding-left: 10px;
		background: $url_19 no-repeat 4px 5px;
		color: $color_dove_gray_approx;
		font-size: 11px;
		a {
			color: $color_dove_gray_approx;
			font-size: 11px;
		}
		.date {
			padding-right: 12px;
		}
	}
	h3 {
		color: $color_mirage_approx;
		font: bold 14px/19px $font_6, $font_3;
		margin-bottom: 20px;
		padding-top: 57px;
	}
}
#guestList {
	width: 1000px;
	padding-top: 17px;
	overflow: hidden;
	//Instead of the line below you could use @includeword-break($value)
	word-break: break-all;
	word-wrap: break-word;
	li {
		list-style-type: none;
	}
	.date {
		@extend %extend_5;
	}
	.name {
		color: $color_emperor_approx;
		font: bold 11px/19px $font_6, $font_3;
		a {
			color: $color_emperor_approx;
			font: bold 11px/19px $font_6, $font_3;
		}
	}
	ol li {
		margin-bottom: 19px;
		ul {
			margin-top: 19px;
			li {
				@extend %extend_6;
			}
		}
		p {
			@extend %extend_7;
		}
	}
	ul li p {
		margin-bottom: 19px;
	}
}
.trackback {
	background: $url_22 repeat-x bottom;
	li {
		list-style-type: none;
	}
	.space {
		height: 19px;
		font-size: 0;
		line-height: 18px;
	}
	h3 {
		margin-top: 22px;
		margin-bottom: 23px;
		padding-left: 75px;
		background: $url_23 no-repeat 0 center;
		span {
			color: $color_emperor_approx;
			font: normal 11px $font_8;
			cursor: pointer;
			&.title {
				display: none;
			}
		}
	}
	h4 {
		width: 890px;
		line-height: 19px !important;
		//Instead of the line below you could use @includeword-break($value)
		word-break: break-all;
		word-wrap: break-word;
		overflow: hidden;
		a {
			color: $color_emperor_approx;
			font: 12px/19px dotum, sans-serif !important;
			//Instead of the line below you could use @includeword-break($value)
			word-break: break-all;
			word-wrap: break-word;
		}
		span {
			display: none;
			line-height: 19px !important;
		}
	}
	.date {
		float: right;
		color: $color_nobel_approx;
		font: 10px/19px $font_8, $font_3;
	}
	p {
		color: $color_suva_gray_approx;
		font: 11px/19px $font_6, $font_3;
		//Instead of the line below you could use @includeword-break($value)
		word-break: break-all;
		word-wrap: break-word;
	}
	.from {
		color: $color_suva_gray_approx;
		font: 10px/19px $font_8, $font_3;
	}
	.name {
		font: 11px/19px $font_6, $font_3;
	}
	ol li {
		width: 1000px;
		margin-bottom: 19px;
		overflow: hidden;
	}
	a.delete {
		padding-left: 10px;
		background: $url_24 no-repeat 0 1px;
		line-height: 19px !important;
		text-decoration: none;
		span {
			display: none;
			line-height: 19px !important;
		}
	}
}
.commentList {
	width: 1000px;
	margin: 20px 0 0;
	padding: 0;
	overflow: hidden;
	//Instead of the line below you could use @includeword-break($value)
	word-break: break-all;
	word-wrap: break-word;
	li {
		list-style-type: none;
	}
	.date {
		@extend %extend_5;
	}
	.name {
		color: $color_emperor_approx;
		font: bold 11px/19px $font_6, $font_3;
		a {
			color: $color_emperor_approx;
			font: bold 11px/19px $font_6, $font_3;
		}
	}
	ol li {
		margin-bottom: 19px;
		ul {
			margin-top: 19px;
			li {
				@extend %extend_6;
			}
		}
		p {
			@extend %extend_7;
		}
	}
	ul li p {
		margin-bottom: 19px;
	}
}
.entry {
	margin-bottom: 0;
	.article {
		ol {
			padding-left: 25px;
		}
		ul {
			padding-left: 25px;
		}
		il {
			padding-left: 25px;
		}
	}
}
.article {
	width: 1000px;
	margin-top: 19px;
	margin-bottom: 17px;
	color: $color_emperor_approx;
	font: 11px/19px $font_6;
	//Instead of the line below you could use @includeword-break($value)
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	dt {
		padding-top: 5px;
		text-decoration: underline;
	}
	dd {
		padding-left: 25px;
		padding-bottom: 5px;
	}
	a {
		color: $color_concord_approx;
		text-decoration: underline;
	}
	blockquote {
		margin: 19px 0;
		padding-left: 12px;
		background: $url_50 no-repeat;
	}
}
.author {
	clear: both;
}
#header {
	width: 100%;
	height: 66px;
	background-color: $color_mirage_approx;
	.wrapper {
		width: 1010px;
		margin: 0 auto;
	}
	h1 {
		float: left;
		margin-top: 27px;
		margin-left: 5px;
		a {
			color: $color_monza_approx;
			font-size: 16px;
			font-family: $font_6, $font_7;
			display: block;
			width: 164px;
			height: 16px;
			background: $url_7 no-repeat;
			text-indent: -1000px;
			overflow: hidden;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
#container {
	position: relative;
	width: 1076px;
	margin: 0 auto;
	padding: 0;
	#antibg {
		width: 1000px;
		margin: 0 auto;
		padding: 0 10px;
	}
}
#outer_btn_left {
	position: absolute;
	left: 0;
	top: 350px;
	width: 18px;
}
#outer_btn_right {
	position: absolute;
	right: 0;
	top: 350px;
	width: 18px;
}
#footer {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 19px;
	clear: both;
	#footMenu {
		color: $color_tapa_approx;
		font-size: 12px;
		line-height: 24px;
		a {
			color: $color_tapa_approx;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: -1px;
		}
	}
	#copyright {
		@extend %extend_10;
		a {
			@extend %extend_10;
		}
	}
}
*html {
	#header h1 a {
		background: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i1.daumcdn.net/cfs.tistory/blog/skin/tis_Fotolog_Black/images/title.png', sizingMethod='crop');
		cursor: pointer;
	}
	#searchBox input {
		background-image: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i1.daumcdn.net/cfs.tistory/blog/skin/tis_Fotolog_Black/images/search.png', sizingMethod='crop');
	}
	#adTistory a {
		background: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i1.daumcdn.net/cfs.tistory/blog/skin/tis_Fotolog_Black/images/tistory.png', sizingMethod='crop');
		cursor: pointer;
	}
}
#searchBox {
	float: right;
	margin-top: 26px;
	input {
		width: 200px;
		height: 20px;
		padding: 2px 0 0 5px;
		border: none;
		background: $url_8 top left no-repeat;
		color: $color_mountain_mist_approx;
		font-size: 12px;
	}
	button {
		display: none;
	}
}
#localog {
	padding: 58px 0 36px;
	h3 {
		display: none;
	}
	.container {
		padding: 12px 10px 14px;
	}
	.spot {
		padding-left: 17px;
		background: $url_17 no-repeat 0 5px;
		color: $color_concord_approx;
		font: 12px/19px $font_6, $font_3;
	}
	.info {
		padding-left: 17px;
		background: $url_18 no-repeat 0 5px;
		a {
			color: $color_emperor_approx;
			font: 12px/19px $font_6, $font_3;
		}
	}
}
.titleWrap {
	h2 {
		padding-top: 57px;
		padding-bottom: 1px;
		a {
			color: $color_mirage_approx;
			font: bold 14px/19px $font_6, $font_3;
		}
	}
	.author {
		float: right;
		color: $color_suva_gray_approx;
		font: 11px/19px $font_6, $font_3;
		text-align: right;
	}
	.category {
		color: $color_suva_gray_approx;
		font: 11px/19px $font_6, $font_3;
		a {
			color: $color_suva_gray_approx;
			font: 11px/19px $font_6, $font_3;
		}
	}
	.date {
		color: $color_suva_gray_approx;
		font: 11px/19px $font_6, $font_3;
	}
	.admin {
		color: $color_suva_gray_approx;
		font: 11px/19px $font_6, $font_3;
		margin-top: 19px;
		a {
			color: $color_suva_gray_approx;
			font: 11px/19px $font_6, $font_3;
		}
	}
}
.entryProtected {
	margin-bottom: 50px;
	.wrapper {
		margin-top: 13px;
		padding: 23px;
		background-color: $color_alto_approx;
		color: $color_dove_gray_approx;
		text-align: center;
	}
	.input {
		margin-top: 4px;
		label {
			padding-left: 13px;
			background: $url_20 no-repeat 0 2px;
			font: 10px $font_8, $font_3;
		}
		input {
			width: 150px;
			height: 17px !important;
			border: 1px solid $color_alto_approx;
			vertical-align: middle;
		}
		.submit {
			width: 75px;
			height: 17px;
			border: 0;
			background: $url_21 no-repeat;
			text-indent: -5000px;
			overflow: hidden;
			cursor: pointer;
			vertical-align: middle;
		}
	}
}
.entryNotice {
	margin-bottom: 0;
	.article {
		margin-top: 19px;
	}
}
.tagTrail {
	clear: both;
	margin-top: 39px;
	color: $color_suva_gray_approx;
	font: 11px/19px $font_6, $font_3;
	a {
		color: $color_suva_gray_approx;
		font: 11px/19px $font_6, $font_3;
	}
	span {
		color: $color_emperor_approx;
	}
}
.actionTrail {
	clear: both;
	padding-top: 2px;
	padding-bottom: 2px;
	@extend %extend_3;
	a {
		@extend %extend_3;
		span {
			@extend %extend_3;
		}
	}
	.cnt {
		color: $color_milano_red_approx;
	}
}
#guestbook {
	margin-bottom: -2px;
	padding: 56px 0 0;
	h3 {
		display: none;
	}
}
.comment {
	margin: 0;
	padding: 0;
	h3 {
		display: none;
	}
}
.commentWrite {
	margin: -2px 0 15px;
	padding: 0;
	.input label {
		display: none;
	}
}
.secretWrap {
	height: 16px;
	padding-top: 2px;
	input {
		float: left;
	}
	label {
		float: left;
		display: block;
		width: 46px;
		height: 12px;
		background: $url_28 no-repeat 4px center;
		text-indent: -5000px;
		overflow: hidden;
	}
}
#paging {
	text-align: right;
	font: 10px/19px $font_8, $font_3;
	a {
		color: $color_emperor_approx;
		&#prevPage {
			color: $color_masala_approx;
			&:hover {
				text-decoration: none;
			}
		}
		&#nextPage {
			color: $color_masala_approx;
			&:hover {
				text-decoration: none;
			}
		}
		&.num span {
			font: 10px/19px $font_8, $font_3;
		}
	}
	.numbox {
		margin-left: -1px;
		margin-right: -3px;
		padding-left: 6px;
		border-left: 1px solid $color_celeste_approx;
		color: $color_emperor_approx;
		font: 10px/19px $font_8, $font_3;
	}
	.num {
		margin-right: 2px;
		padding-right: 6px;
		border-right: 1px solid $color_silver_chalice_approx;
	}
	#prevPage {
		padding-left: 6px;
		background: $url_34 left 2px no-repeat;
	}
	#nextPage {
		padding-right: 6px;
		background: $url_35 right 2px no-repeat;
	}
}
#userID {
	display: block;
	color: $color_emperor_approx;
	font: bold 11px/19px $font_6, $font_3;
}
#blogDesc {
	color: $color_suva_gray_approx;
	font: 11px/19px $font_6, $font_3;
	letter-spacing: -1px;
}
#counter {
	margin-bottom: 10px;
	div {
		width: 121px;
		height: 16px;
		margin-top: 1px;
		padding: 4px 4px 0 0;
		color: $color_gallery_approx;
		font: 9px $font_8, $font_3;
		text-align: right;
		span {
			display: none;
		}
	}
	.total {
		background: $url_36 no-repeat;
	}
	.today {
		background: $url_37 no-repeat;
	}
	.yesterday {
		background: $url_38 no-repeat;
	}
}
#btnRSS {
	margin-bottom: 18px;
	a {
		display: block;
		width: 125px;
		height: 20px;
		background: $url_39 no-repeat;
		span {
			display: none;
		}
	}
}
#category {
	margin-bottom: 18px;
	h3 {
		display: none;
	}
	div {
		line-height: normal;
	}
	span {
		line-height: normal;
	}
}
#calendar {
	margin-top: 5px;
	margin-bottom: 20px;
	h3 {
		display: none;
	}
	.tt-calendar {
		thead {
			display: none;
		}
		tbody td {
			background-color: $color_celeste_approx;
			color: $color_oslo_gray_approx;
			font: 9px/17px $font_5, $font_3;
			text-align: center;
			&.cal_day4 {
				background-color: $color_jumbo_approx;
				color: $alto;
			}
		}
	}
	.cal_month a {
		color: $color_iron_approx;
		font: bold 9px/11px $font_5, $font_3;
		&.prev-month {
			display: block;
			float: left;
			width: 5px;
			height: 11px;
			margin-left: 4px;
			background: $url_48 no-repeat 0 4px;
			text-indent: -1000px;
			overflow: hidden;
		}
		&.next-month {
			display: block;
			float: right;
			width: 5px;
			height: 11px;
			margin-right: 4px;
			background: $url_49 no-repeat 0 4px;
			text-indent: -1000px;
			overflow: hidden;
		}
	}
}
#adTistory {
	margin-bottom: 5px;
	a {
		display: block;
		height: 18px;
		padding-top: 7px;
		padding-left: 100px;
		background: $url_47 no-repeat;
		color: $color_tapa_approx;
		font: 11px $font_6;
	}
}
.cal_day_sunday a {
}
#guestWrite .input label {
	display: none;
}
p.button {
	margin-top: 4px;
	text-align: right;
	input.submit {
		width: 75px;
		height: 17px;
		border: 0;
		background: $url_29 no-repeat;
		text-indent: -5000px;
		overflow: hidden;
		cursor: pointer;
	}
}
.control a {
	font-size: 9px;
	text-decoration: none;
	span {
		display: none;
	}
	&:hover {
		text-decoration: none;
	}
	&.modify {
		padding-left: 51px;
		background: $url_30 no-repeat;
	}
	&.write {
		padding-left: 34px;
		background: $url_31 no-repeat;
	}
	&.address {
		padding-left: 28px;
		background: $url_32 no-repeat;
	}
}
#prevPage span {
	display: none;
}
#nextPage span {
	display: none;
}
#blogImage img {
	width: 180px;
	border: 5px solid $white;
}
#notice h3 {
	background-image: $url_40;
}
#recentPost h3 {
	background-image: $url_42;
}
#recentComment h3 {
	background-image: $url_43;
}
#recentTrackback h3 {
	background-image: $url_44;
}
#archive h3 {
	background-image: $url_45;
}
#link h3 {
	background-image: $url_46;
}
.module_widget h3 {
	@extend %extend_9;
}
.module_plugin h3 {
	@extend %extend_9;
}